<section>
    <div class="carousel "  >
        <div id="car" class="carousel slide" data-ride="carousel" >
            
            <!-- Carousel Images -->
            <div class="carousel-inner" >
              <div class="carousel-item "  *ngFor="let i of carousel ;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
                <div class="carousel-caption">
                    <h4 >{{i.caption}}</h4>
                    <a routerLink="shop" class="btn" class="content" data-bs-toggle="tooltip" data-bs-placement="top" title="Buy Now" > &nbsp;&nbsp; Buy Now &nbsp;&nbsp;</a>
                 </div>
                <img src={{i.img}} alt="Los Angeles" width="1100" height="500">
              </div>
              <!-- <div class="carousel-item">
                <div class="carousel-caption">
                    <h4 >Get 40% off on Mobiles</h4>
                    <a href="#" class="btn" class="content" data-bs-toggle="tooltip" data-bs-placement="top" title="Buy Now"> &nbsp;&nbsp; Buy Now &nbsp;&nbsp;</a>
                 </div>
                <img src="https://images.unsplash.com/photo-1611734828917-718f25babb2b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" alt="Chicago" width="1100" height="500">
              </div> -->
            </div>
            
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#car" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#car" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
    </div>
</section>
  
<section>
        <!--Slicker-->     
        <div class="slickerbox">
            <h1>Latest Product</h1>
            <div id="slick-disp"> 
                <div class="prod-1">
                    <h3>Headset</h3>
                    <img src="https://rukminim1.flixcart.com/image/416/416/kc3p30w0/headphone/q/l/p/k361-akg-original-imaftbymrzemf9bx.jpeg?q=70" alt="img">
                </div>
                <div class="prod-2">
                    <h3>Tv</h3>
                    <img src="https://rukminim1.flixcart.com/image/416/416/kc54ivk0/television/r/q/g/mi-l43m4-4ain-original-imaftc5fy6bfmhyb.jpeg?q=70" alt="img">
                </div>
                <div class="prod-3">
                    <h3>Washing Machine</h3>
                    <img src="https://rukminim1.flixcart.com/image/416/416/k0r15e80/washing-machine-new/p/r/t/diva-aqua-vx-ifb-original-imafkh4jrftndzzj.jpeg?q=70" alt="img">
                </div>
                <div class="prod-4">
                    <h3>Microwave Oven</h3>
                    <img src="https://rukminim1.flixcart.com/image/416/416/jawthu80/microwave-new/6/x/n/ce1041dsb2-xtl-samsung-original-imafydz5kjn28rhg.jpeg?q=70" alt="img">
                </div>
            </div>
        </div>

                    <!--Slicker-->     
                    <div class="slickerbox" style="background-color: whitesmoke;">
                        <h1 style="padding-top: 20px;">Top Offer</h1>
                        <div class="top-offer" id="slick-disp"> 
                            <div class="prod-1">
                                <h3>Mobiles</h3>
                                <img src="assets/mobile.png" alt="img">
                            </div>
                            <div class="prod-2">
                                <h3>AC</h3>
                                <img src="assets/ac.png" alt="img">
                            </div>
                            <div class="prod-3">
                                <h3>Fan</h3>
                                <img src="assets/fan.png" alt="img">
                            </div>
                            <div class="prod-4">
                                <h3>Refrigerator</h3>
                                <img src="assets/fridge.png" alt="img">
                            </div>
                        </div>
                    </div>
</section>

<section>
        <!--Promotions-->
        <section id="promotions">
            <div class="row" style="width: 100%; margin: 0px;"> 
                <img class="img-fluid" src="https://i.pinimg.com/originals/cd/90/88/cd908869314450ba95aa517c6dd42e86.jpg" alt="Promotions"  id="promo-img">
                <img class="img-fluid" src="https://i.pinimg.com/564x/ec/c6/46/ecc6464f94ce9bede936af60d87e3da5.jpg" alt="Promotions"   id="promo-img">
            </div>
        </section>
</section>